@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Tilt+Neon&display=swap');


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Tilt Neon', sans-serif;
  background: #f9f7f7;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Tilt Neon', sans-serif;
}
