.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  font-size: 50px;
  color: rgba(98, 150, 178, 0.87);

  &__title {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }

  &__section {
    &-image {
      width: 30px;
      height: 30px;
    }

    &-link {
      text-decoration: none;
      font-size: 30px;
      color: rgba(98, 150, 178, 0.87);
    }
  }
}

.group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
