<div class="info">
  <h2 class="info__title">Disign by Oleksandr Zaporozhets</h2>
  <section class="info__section">
    <div class="group">
      <img
        class="info__section-image"
        src="assets/images/phone2.svg" alt="phone"
      >
      <a class="info__section-link" href="tel:+38 093 116 27 88">Phone</a>
    </div>

    <div class="group">
      <img
        class="info__section-image"
        src="assets/images/telegram.svg" alt="telegram"
      >
      <a class="info__section-link" href="tg://resolve?domain=<zipic>">Telegram</a>
    </div>
  </section>
</div>
